[buildout]
extends = https://raw.githubusercontent.com/senaite/senaite.core/2.x/buildout.base.cfg
package-name = senaite.app.listing

# Auto-checkout all sources but senaite.app.listing
auto-checkout =
    senaite.core
    senaite.app.spotlight
    senaite.app.supermodel
    senaite.impress
    senaite.jsonapi
    senaite.lims
