include LICENSE
include README.md
include docs *.rst
recursive-exclude src/senaite/core/listing *.pyc
recursive-exclude src/senaite/core/listing/tests *
recursive-exclude src/senaite/core/listing/react *
recursive-exclude node_modules *
